<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quanto guadagni?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quanto guadagni?</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>

  <ion-item-group>
    <ion-item>
      <ion-label>Insert a value</ion-label>
      <ion-input type="number" [(ngModel)]="value" (ngModelChange)="checkFlag()"></ion-input>
      <ion-label>Calculate the salary by:</ion-label>
      <ion-select [(ngModel)]="tempo" (ngModelChange)="selectTempo(value)">
        <ion-select-option value="week">Week</ion-select-option>
        <ion-select-option value="month">Month</ion-select-option>
        <ion-select-option value="year">Year</ion-select-option>
      </ion-select>
      <ion-select [(ngModel)]="currency" (ngModelChange)="onModelChange($event,value)">
        <ion-select-option value="$">$</ion-select-option>
        <ion-select-option value="£">£</ion-select-option>
        <ion-select-option value="€">€</ion-select-option>
        <ion-select-option value="¥">¥</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <div *ngIf="show">{{result}} {{currency}}/s</div>
    </ion-item>
  </ion-item-group>
</ion-content>